<li>
  <div class="channel">
    <div class="channel-image">
      <div class="channel-imageWrap">
        <img src="/img/channels/{{ .channel.slug }}.jpg" />
      </div>
    </div>
    <div class="channel-text">
      <div class="channel-title">
        <a class="channel-link" href="{{ or .channel.providers.youtube.url .channel.url }}" target="_blank">
          {{ .channel.name }}
        </a>
      </div>
      <div class="channel-description">
        {{ .channel.description | markdownify }}
      </div>
      {{ if .channel.subscribers }}
        <div class="channel-metadata">
          {{ lang.NumFmt 0 .channel.subscribers }}
        </div>
      {{ end }}
    </div>
  </div>
</li>
