{{ $subscribers := (or .channel.providers.youtube.subscribers .channel.subscribers) }}
<li class="channel-item">
  <div class="channel">
    <div class="channel-image">
      <div class="channel-imageWrap">
        <img src="/img/channels/{{ .channel.slug }}.jpg" alt=" {{ .channel.name }}" />
      </div>
    </div>
    <div class="channel-text">
      <div class="channel-title">
        <a class="channel-link" href="{{ or .channel.providers.youtube.url .channel.url }}" target="_blank">
          {{ .channel.name }}
        </a>
      </div>
      <div class="channel-description">
        {{ .channel.description | markdownify }}
      </div>
      {{ if $subscribers }}
        <div class="channel-metadata">
          {{ lang.NumFmt 0 $subscribers }} <span class="visually-hidden">subscribers</span>
        </div>
      {{ end }}
    </div>
  </div>
</li>
