{{- $channelSlug := (or .Params.channel (index (split .Page.RelPermalink "/") 1)) -}}
<li id="{{ $channelSlug }}" class="channel-item list-item">
  <div class="channel">
    <div class="channel-image">
      <div class="channel-imageWrap">
        <img src="/img/channels/{{ $channelSlug }}.jpg" alt=" {{ .Title }}" />
      </div>
    </div>
    <div class="channel-text">
      <div class="channel-title">
        <a class="channel-link" href="{{ .RelPermalink }}">
          {{ .Title }}
        </a>
      </div>
      <div class="channel-description">
        {{ .Description | markdownify }}
      </div>
    </div>
  </div>
</li>
