<form name="add_channel" class="form" method="POST" data-netlify="true" netlify-honeypot="important-field">
  <p class="d-none">
    <label>Don’t fill this out if you're human: <input name="important-field" /></label>
  </p>
  <div class="field">
    <label class="field-label" for="channelName">Channel Name</label>
    <input class="field-input" id="channelName" type="text" name="CHANNEL_NAME" />
  </div>
  <div class="field">
    <label class="field-label" for="channelUrl">Channel URL</label>
    <input class="field-input" id="channelUrl" type="text" name="CHANNEL_URL" />
  </div>
  <div class="field">
    <label class="field-label" for="submitterEmail">
      Your Email Address
      <span class="visually-hidden">(</span><small class="field-hint">We'll use this solely to keep you informed of this addition.</small><span class="visually-hidden">)</span>
    </label>
    <input class="field-input" id="submitterEmail" type="email" name="SUBMITTER_EMAIL" placeholder="Enter email"/>
  </div>
  <div class="field">
    <div data-netlify-recaptcha="true"></div>
  </div>
  <button type="submit" class="button is-primary">Send Channel</button>
</form>
