<script>
var list = [
  {{ range .Pages }}
    {
      'name': "{{ .Title }}",
      'slug': "{{ .Params.channel }}",
      'tags': {{ .Params.tags }},
    },
  {{ end }}
].concat([
  {{- range $channelSlug, $videos := .Site.Data.videos -}}
    {{- range $videoID, $video := $videos -}}
      {
        'name': "{{ $video.title }}",
        'slug': "{{ $video.id }}",
        'tags': {{ $video.tags }},
        'channel': "{{ $video.channel }}",
        'description': {{ $video.description }},
      },
    {{- end -}}
  {{ end }}
])

var options = {
  shouldSort: true,
  threshold: 0.4,
  location: 0,
  distance: 100,
  maxPatternLength: 32,
  minMatchCharLength: 1,
  id: "slug",
  keys: [
    "name", "slug", "tags", "channel", "description"
  ]
};
var fuse = new Fuse(list, options);
var search = document.getElementById("search");
var lists = document.getElementsByClassName("list");

function listSearch(query) {
  if(search.value.length == 0) {
    search.value = query.replace("%20"," ");
  }

  history.replaceState(window.history.state,{},'#search:' + query.toLowerCase());
  var results = fuse.search(query);

  for (var i = 0; i < lists.length; i++) {
    var list = lists[i];
    var items = list.children;
    list.classList.toggle('searching', query.length > 0);

    for (var j = 0; j < items.length; j++) {
      var item = items[j];
      item.classList.toggle('found', results.indexOf(item.id) > -1);
    }
  }
}

search.addEventListener("keyup", function() {
  var query = this.value;
  listSearch(query);
});

var navlinks = document.getElementsByClassName("nav-link");

/* Persist search in nav links */
for (var i = 0; i < navlinks.length; i++) {
  var link = navlinks[i];
  link.addEventListener("click", function(event) {
    event.preventDefault();
    window.location = event.target.href + location.hash;
  });
}

if(window.location.hash && window.location.hash.indexOf('search') > -1) {
  listSearch(window.location.hash.replace("#search:",""));
}
</script>
