<script src="/js/fuse.js" type="text/javascript"></script>

<script>
var list = [
  {{ range sort .Site.Data.channels "name" "asc" }}
    {
      'name': "{{ .name }}",
      'slug': "{{ .slug }}",
      'tags': {{ .tags }},
      'description': {{ .description }},
    },
  {{ end }}
]
var options = {
  shouldSort: true,
  threshold: 0.4,
  location: 0,
  distance: 100,
  maxPatternLength: 32,
  minMatchCharLength: 1,
  id: "slug",
  keys: [
    "name", "slug", "tags", "description"
  ]
};
var fuse = new Fuse(list, options);
var search = document.getElementById("search");
var list = document.getElementsByClassName("list")[0];
var items = list.children;

function listSearch(query) {
  list.classList.toggle('searching', query.length > 0);

  window.location.hash = 'search:' + query.toLowerCase();;
  var results = fuse.search(query);
  for (var i = 0; i < items.length; i++) {
    var item = items[i];
    item.classList.toggle('found', results.indexOf(item.id) > -1);
  }

  if(search.value.length == 0) {
    search.value = query.replace("%20"," ");
  }
}

search.addEventListener("keyup", function() {
  var query = this.value;
  listSearch(query);
});

if(window.location.hash && window.location.hash.indexOf('search') > -1) {
  listSearch(window.location.hash.replace("#search:",""));
}
</script>
