<form name="add_playlist" class="form" method="POST" data-netlify="true" netlify-honeypot="important-field">
  <p class="d-none">
    <label>Don’t fill this out if you're human: <input name="important-field" /></label>
  </p>
  <div class="field">
    <label class="field-label" for="playlistName">Name</label>
    <input class="field-input" id="playlistName" type="text" name="PLAYLIST_NAME" />
  </div>
  <div class="field">
    <label class="field-label" for="playlistDescription">Playlist Description</label>
    <textarea class="field-input is-textarea" class="form-control" id="playlistDescription" rows="2" cols="50" name="PLAYLIST_DESCRIPTION"></textarea>
  </div>
  <div class="field">
    <label class="field-label" for="videoUrl">Video URLs</label>
    <textarea class="field-input is-textarea" class="form-control" id="videoUrl" rows="4" cols="50" name="VIDEO_URLS" required></textarea>
  </div>
  <div class="field">
    <div data-netlify-recaptcha="true"></div>
  </div>
  <button type="submit" class="button is-primary">Send Playlist</button>
  <p>
    <strong>We've been really backlogged with submissions. We're working on upgrading our systems and process to make adding content a lot easier and more democratic.</strong>
    <br>
    <em>Submissions are sent to our <a href="https://breadtube.tv/discord">Discord server</a>, come join us!</em>
  </p>
</form>
