{{ $videos := $.Site.Data.videos }}
{{ $channels := $.Site.Data.channels }}

<ul class="list plain-list">
  {{ range .Params.videos }}
    {{ $id := . }}
    {{ range $channelSlug, $channelVideos := $videos }}
      {{ range $videoID, $video := $channelVideos }}
        {{ if eq $id $videoID }}
          {{ range $channels }}
            {{ $channel := . }}
            {{ if eq $channel.slug $video.channel }}
              {{ partial "videos/card.html" (dict "video" $video "channel" $channel) }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
</ul>
