{{ $videos := $.Site.Data.videos }}
{{ $videoChannel := (or (in .Permalink "playlist") (eq true .Params.videoChannel)) }}
{{ $videoIframe := (eq true .Params.videoIframe) }}

<ul class="list plain-list">
  {{- range .Params.videos -}}
    {{- $id := . -}}
    {{- range $channelSlug, $channelVideos := $videos -}}
      {{- range $videoID, $video := $channelVideos -}}
        {{- if eq $id $videoID -}}
          {{ $page:= printf "channel/%s/_index.md" $channelSlug }}
          {{ with $.Site.GetPage $page }}
            {{ $channel := . }}
            {{ partial "videos/card.html" (dict "video" $video "channel" $channel "videoChannel" $videoChannel "videoIframe" $videoIframe) }}
          {{ end }}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
</ul>
