body {
  background-color: rgb(101, 115, 131);
}

a, a:hover, a:active {
  color: white;
  text-decoration: none;
}

.tile {
  position: relative;
  display: inline-block;
  max-width: 158px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* http://tobiasahlin.com/blog/how-to-animate-box-shadow/ */
.tile::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: rgb(101, 115, 131);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.tile:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
  z-index: 100;
}

.tile:hover::after {
  opacity: 1;
}

.tile-title {
  line-height: 17px;
}

#navigation {
  max-width: 42px;
}
