body {
  background-color: rgb(101, 115, 131);
}

a,
a:hover,
a:active {
  color: white;
}

#sidebar {
  max-width: 50px;
}

#site-title {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

#site-title a,
#site-title a:hover,
#site-title a:active,
#page-title a,
#page-title a:hover,
#page-title a:active {
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.card a {
  color: black;
}

.card-video a:hover {
  text-decoration: underline;
}

a.card-channel {
  color: #000;
}

a.card-channel:hover {
  text-decoration: none;
}

a.card-channel:hover .title {
  text-decoration: underline;
}

.card-channel .card-body {
  background-color: white;
}

.card-video .img-channel {
  width: 26px;
  margin-top: -2px;
}

/* http://tobiasahlin.com/blog/how-to-animate-box-shadow/ */
@media (min-width: 992px) {
  .card-column {
    min-width: 220px;
    max-width: 220px;
  }

  .card-channel::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: rgb(101, 115, 131);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .card-channel:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    z-index: 100;
  }

  .card-channel:hover::after {
    opacity: 1;
  }
}
