<div class="row my-4">
  <div class="col">
    <h1 class="float-left">Videos</h1>

    <div class="float-right">
      <%== pagy_bootstrap_combo_nav_js(@pagy) %>
    </div>
  </div>
</div>

<%= card_row do %>
  <% @videos.each do |video| %>
    <%= render video %>
  <% end %>
<% end %>

<br>

<%= link_to 'New video', new_video_path %>
