<div class="row my-4">
  <div class="col">
    <h1 class="float-left">Videos</h1>

    <div class="float-right">
      <%== pagy_bootstrap_combo_nav_js(@pagy) %>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 row-cols-xl-6">
  <% @videos.each do |video| %>
    <%= render video %>
  <% end %>
</div>

<br>

<%= link_to 'New video', new_video_path %>
