<h2 class="mt-4">Latest Videos</h2>

<div class="row row-cols-1 row-cols-sm-3 row-cols-md-3 row-cols-lg-6 row-cols-xl-9">
  <% @latest_videos.each do |video| %>
    <%= render video %>
  <% end %>
</div>

<h2 class="mt-4">Featured Channels</h2>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 row-cols-xl-6">
  <% @features.each do |feature| %>
    <%= render feature.channel %>
  <% end %>
</div>

<h2 class="mt-4">Random Videos</h2>

<div class="row row-cols-1 row-cols-sm-3 row-cols-md-3 row-cols-lg-6 row-cols-xl-9">
  <% @random_videos.each do |video| %>
    <%= render video %>
  <% end %>
</div>