<h3>Featured Channels</h3>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
  <% @features.each do |feature| %>
    <%= render feature.channel %>
  <% end %>
</div>

<h3 class="mt-4">Random Videos</h3>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
  <% @videos.each do |video| %>
    <%= render video %>
  <% end %>
</div>