<!DOCTYPE html>
<html>
  <head>
    {{ partial "base/head.html" . }}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div id="sidebar" class="col-1 pt-5 pr-2 pb-0 pl-2">
          {{ partial "base/sidebar.html" . }}
        </div>
        <div id="main" class="col pl-0">
          {{ partial "base/navigation.html" . }}
          {{ block "main" . }}
          {{ end }}
        </div>
      </div>
    </div>
    {{ partial "base/foot.html" . }}
  </body>
</html>
