<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "base/head.html" . }}
  </head>
  <body>
    <header class="header container">
      {{ partial "base/banner.html" . }}
      {{ partial "base/navigation.html" . }}
    </header>
    <main class="container">
      <div class="header-action" style="margin-top: 10px">
        {{ partial "search/bar.html" . }}
      </div>
      {{ block "main" . }}
      {{ end }}
      <div class="header-action" style="margin-top: 10px">
        {{ partial "base/create.html" . }}
      </div>
    </main>
    {{ partial "base/footer.html" . }}
    {{ partial "search/code.html" . }}
  </body>
</html>
