<li id="{{ .video.Params.providers.youtube.id }}" class="video-item list-item">
  {{ if .linkChannel }}
    <div class="video-metadata">
      <a class="video-channel-link" href="{{ .video.Parent.Permalink }}">
        <strong class="video-channel-name">{{ .video.Parent.Title }}</strong>
      </a>
    </div>
  {{ end }}
  <div class="video">
    <div class="video-link-container">
      <div class="video-image">
        <div class="video-imageWrap">
          <img src="https://i3.ytimg.com/vi/{{ .video.Params.providers.youtube.id }}/hqdefault.jpg" alt="{{ .video.Title }}" />
        </div>
      </div>
      <div class="video-text">
        <div class="video-title">
          <a class="video-link" href="{{ .video.RelPermalink }}">
            {{ .video.Title }}
          </a>
        </div>
        <div class="video-description">
          {{ .video.Description | replaceRE "https?://([^ ]+)" "" | truncate 140 }}
        </div>
      </div>
    </div>
  </div>
</li>
