{{- $channelSlug := (or .channel.Params.channel (index (split .channel.RelPermalink "/") 1)) -}}
<li id="{{ .video.id }}" class="video-item list-item">
  {{ if .videoChannel }}
    <div class="video-metadata">
      <a class="video-channel-link" href="/{{ $channelSlug }}">
        <strong class="video-channel-name">{{ .channel.Title }}</strong>
      </a>
    </div>
  {{ end }}
  <div class="video">
    <div class="video-link-container">
      <div class="video-image">
        <div class="video-imageWrap">
          <img src="https://i3.ytimg.com/vi/{{ .video.id }}/hqdefault.jpg" alt="{{ .video.title }}" />
        </div>
      </div>
      <div class="video-text">
        <div class="video-title">
          <a class="video-link" href="/{{ $channelSlug}}/videos/{{ .video.id | lower }}/">
            {{ .video.title }}
          </a>
        </div>
        <div class="video-description">
          {{ .video.description | replaceRE "https?://([^ ]+)" "" | truncate 140 }}
        </div>
      </div>
    </div>
  </div>
</li>
