{{ define "main" }}
  {{ $scratch := newScratch }}

  {{ $channelSlug := .Params.channel }}
  {{ $channels := $.Site.Data.channels }}
  {{ range $channels }}
    {{ if eq .slug $channelSlug }}
      {{ $scratch.Set "channel" . }}
    {{ end }}
  {{ end }}

  {{ $title := .Title }}

  <div class="content">
    <h1 class="heading"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    <section class="video-metadata">
      {{ partial "channels/heading.html" (dict "scratch" $scratch "h" "h1") }}
    </section>

    <p>{{ .Description | markdownify }}</p>
  </div>

  <ul class="iframe-list">
  {{ range $provider, $data := .Params.providers }}
    <li>
      {{ $path := printf "%s/%s" "iframe" $provider }}
      {{ partial $path (dict "title" $title "id" .id) }}
    </li>
  {{ end }}
  </ul>
{{ end }}
