{{ if .videoIframe }}
<li id="{{ .video.id }}" class="channel-video list-item">
  <ul>
    <li class="video">
      <div class="video-item">
        <iframe class="video-iframe" src="https://www.youtube.com/embed/{{ .video.id }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {{ partial "channels/card.html" (dict "channel" .channel) }}
        <div class="video-text">
          <div class="video-title">
            {{ .video.title }}
          </div>
          <div class="video-description">
            {{ .video.description | markdownify }}
          </div>
        </div>
      </div>
    </li>
  </ul>
</li>
{{ else }}
<li id="{{ .video.id }}" class="video-item list-item">
  {{ if .videoChannel }}
    <div class="video-metadata">
      <a class="video-channel-link" href="/{{ .channel.slug }}">
        <strong class="video-channel-name">{{ .channel.name }}</strong>
      </a>
    </div>
  {{ end }}
  <div class="video">
    <div class="video-link-container">
      <div class="video-image">
        <div class="video-imageWrap">
          <img src="https://i3.ytimg.com/vi/{{ .video.id }}/hqdefault.jpg" alt="{{ .video.title }}" />
        </div>
      </div>
      <div class="video-text">
        <div class="video-title">
          <a class="video-link" href="https://youtu.be/{{ .video.id }}" target="_blank">
            {{ .video.title }}
          </a>
        </div>
        <div class="video-description">
          {{ .video.description }}
        </div>
      </div>
    </div>
  </div>
</li>
{{ end }}
