<p id="notice"><%= notice %></p>

<h1>Channel Supports</h1>

<table>
  <thead>
    <tr>
      <th>Channel</th>
      <th>Url</th>
    </tr>
  </thead>

  <tbody>
    <% @channel_supports.each do |channel_support| %>
      <tr>
        <td><%= channel_support.channel %></td>
        <td><%= link_to I18n.t(channel_support.kind), channel_support.url %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Channel Support', new_channel_support_path %>
