<div class="nav-panel">
    <nav>
        <ul>
            <li class="tag"><a data-tooltip="Reddit" href="https://reddit.com/r/breadtube" target="_blank"><i class="icon fa fa-reddit" aria-hidden="true"></i></a></li>
            <li class="tag"><a data-tooltip="Twitter" href="https://twitter.com/breadtubetv" target="_blank"><i class="icon fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="tag"><a data-tooltip="Discord" href="https://discord.gg/5MGeFv9" target="_blank"><i class="icon fa fa-wechat" aria-hidden="true"></i></a></li>
        </ul>
    </nav>
</div>
