<div class="col col-sm-6 col-md-4 col-xl-3 mb-4">
  <div class="card card-video">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ .id }}"></iframe>
    </div>
    <div class="card-body pt-3 pb-3 pl-3 pr-3">
      <h3 class="h5 font-weight-bold mb-0"><a href="https://youtu.be/{{ .id }}" target="_blank">{{ .name }}</a></h3>
      <h4 class="h5 font-weight-bold mb-0">{{ .channel }}</h4>
    </div>
  </div>
</div>
