{{ define "main" }}
  <div class="heading-wrap" style="overflow: hidden">
    <h1 class="heading">{{ .Title }}</h1>
    <a href="https://www.reddit.com/r/BreadTube/search?q={{ .Title | lower }}&restrict_sr=1" target="_blank"><strong>r/BreadTube</strong></a>
  </div>
  {{ with .Content }}
    <div class="content">
      {{ . }}
    </div>
  {{ end }}

  {{ if in .Permalink "/new" }}
    {{ partial "playlists/new.html" }}
  {{ else }}
    {{ partial "playlists/videos.html" . }}
  {{ end }}
{{ end }}

