<div class="col-12 col-sm-6">
  <div class="card flex-fill">
      <form name="add_channel" method="POST" data-netlify="true" netlify-honeypot="important-field">
          <p class="d-none">
              <label>Don’t fill this out if you're human: <input name="important-field" /></label>
          </p>
          <div class="form-group">
            <label for="channelName">Channel Name: </label>
            <input class="form-control" id="channelName" type="text" name="CHANNEL_NAME" />
          </div>
          <div class="form-group">
            <label for="channelUrl">Channel URL: </label>
            <input class="form-control" id="channelUrl" type="text" name="CHANNEL_URL" />
          </div>
          <div class="form-group">
            <label for="submitterEmail">Your Email Address: </label>
            <input class="form-control"  id="submitterEmail" type="email" name="SUBMITTER_EMAIL" placeholder="Enter email"/>
            <small id="emailHelp" class="form-text text-muted">We'll use this solely to keep you informed of this addition</small>
          </div>
          <div data-netlify-recaptcha="true"></div>
          <button type="submit" class="btn btn-primary">Send</button>
      </form>
  </div>
</div>