<p id="notice"><%= notice %></p>

<div class="row mb-4">
  <div class="col">
    <h1>Posts</h1>

    <div class="float-right">
      <%== pagy_bootstrap_combo_nav_js(@pagy) %>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

<br>

<%= link_to 'New Post', new_post_path %>
