{{ define "main" }}
  {{ $videos := $.Site.Data.videos }}
  <h1 class="heading"><a href=".">{{ .Title }}</a></h1>
  <ul class="list plain-list">
    {{- range $channelSlug, $channelVideos := $videos -}}
      {{- range $videoID, $video := $channelVideos -}}
        {{ $page:= printf "channel/%s/_index.md" $channelSlug }}
        {{ with $.Site.GetPage $page }}
          {{ $channel := . }}
          {{ partial "videos/card.html" (dict "video" $video "channel" $channel) }}
        {{ end }}
      {{- end -}}
    {{- end -}}
  </ul>
{{ end }}
