{{ define "main" }}
  {{ $videos := $.Site.Data.videos }}
  <h1 class="heading"><a href=".">{{ .Title }}</a></h1>
  <ul class="list plain-list">
    {{- range $channelSlug, $channelVideos := $videos -}}
      {{- range $videoID, $video := $channelVideos -}}
        {{- $channelPage := (printf "/channels/%s" $channelSlug) -}}
        {{ with $.Site.GetPage $channelPage }}
          {{ $channel := . }}
          {{ partial "videos/card.html" (dict "video" $video "channel" $channel "videoChannel" true) }}
        {{ end }}
      {{- end -}}
    {{- end -}}
  </ul>
{{ end }}
