<h1 id="site-title">
  <a href="/">
    B<span class="d-block"/>
    R<span class="d-block"/>
    E<span class="d-block"/>
    A<span class="d-block"/>
    D<span class="d-block"/>
    T<span class="d-block"/>
    U<span class="d-block"/>
    B<span class="d-block"/>
    E<span class="d-block"/>
  </a>
</h1>
<ul class="list-unstyled text-center">
  {{ range .Site.Params.nav }}
    <li class="pt-1 pb-1">
      <a title="{{ .name }}" href="{{ .href }}" target="_blank">
        <i class="fab fa-{{ .icon }}"></i>
        <span class="d-none" aria-hidden="true">{{ .name }}</span>
      </a>
    </li>
  {{- end }}
</ul>
