$grid-breakpoints: (
  xs: 0,
  sm: 720px,
  md: 1000px,
  lg: 1380px,
  xl: 1920px
);

$white: #FFFFFF;
$blue: #336699;
$purple: #9B51E0;
$orange: #F2690D;

$link-color: lighten($blue, 20%);

$theme-colors: (
  "discord": #7289da,
  "kofi": #FF5F5F,
  "facebook": #3b5998,
  "patreon": #f96854,
  "paypal": #009cde,
  "peertube": $orange,
  "twitch": #6441a5,
  "twitter": #1da1f2,
  "youtube": $blue,
  "website": #21759b
);

a.source-peertube {
  color: map-get($theme-colors, "peertube") !important;
}

.nav-pills .nav-link.active.source-peertube {
  background-color: map-get($theme-colors, "peertube") !important;
  color: $white !important;
}