$grid-breakpoints: (
  xs: 0,
  sm: 720px,
  md: 1000px,
  lg: 1380px,
  xl: 1920px
);

$white: #FFFFFF;
$blue: #336699;
$purple: #9B51E0;

$theme-colors: (
  "youtube": $blue,
  "peertube": $purple,
);

a.source-peertube {
  color: $purple !important;
}

.nav-pills .nav-link.active.source-peertube {
  background-color: $purple !important;
  color: $white !important;
}