@import 'variables';
@import 'darkly';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

abbr[title] {
  text-decoration: none;
  cursor: default;
}

.pagy-bootstrap-combo-nav-js .btn-group {
  width: 100%;
}

a.source-peertube {
  color: map-get($theme-colors, "peertube") !important;
}

.nav-pills .nav-link.active.source-peertube {
  background-color: map-get($theme-colors, "peertube") !important;
  color: $white !important;
}

.nav-item.active {
  text-decoration: underline;
}