<p>
  <strong>Channel:</strong>
  <%= @feature.channel_id %>
</p>

<p>
  <strong>Expired at:</strong>
  <%= @feature.expire_at %>
</p>

<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>
