{{ define "main" }}
  <div class="heading-wrap" style="overflow: hidden">
    <h1 class="heading"><a href=".">{{ .Title }}</a></h1>

    <div class="heading-meta">
      <ul class="plain-list">
        {{ range $name, $url := $.Params.urls }}
          <li>
            <a href="{{ $url }}">{{ i18n $name }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
  {{ with .Content }}
    <div class="content">
      {{ . }}
    </div>
  {{ end }}

  {{ if in .Permalink "/new" }}
    {{ partial "playlists/new.html" }}
  {{ else }}
    {{ partial "playlists/videos.html" . }}
  {{ end }}
{{ end }}

